<section class="container">
  <div class="header">
    
    <div class="photo"></div>
    <div class="name">
      <h1>Ronald Pabilonia</h1>
      <h5>Frontend Developer, Philippines</h5>
      <div class="links">
        <a href="tel:+639159463072"><i class="bi bi-telephone-fill"></i></a>
        <a href="mailto:ronald.pabilonia@gmail.com"><i class="bi bi-envelope-fill"></i></a>
        <a href="https://www.linkedin.com/in/ronaldpabilonia/" target="_blank"><i class="bi bi-linkedin"></i></a>
        <a href="https://stackoverflow.com/users/2760400/rnldpbln/" target="_blank"><i class="bi bi-stack-overflow"></i></a>
      </div>
    </div>




  </div>


  <div class="tech">
    <p>
      Hey, what's up! The name's Ronald. I'm a 29 year old Frontend Developer currently living his best life in Laguna Philippines.
      I've been dabbling with Web Development for almost 9 years now. Here are my skills:
    </p>
  </div>
  <div class="tech-icons">

    <div class="row">

      
      <div class="col">
        <div class="card html">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">HTML5</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card css">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">CSS3</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card js">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">JavaScript</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card angularjs">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">AngularJS</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card ts">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">TypeScript</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card node">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-plain.svg" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">Node.js</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card mongo">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">MongoDB</h5>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card angularts">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">Angular</h5>
          </div>
        </div>
      </div>


    </div>



                  
    


  </div>

</section>