<section class="container">
  <div class="header">
    <div class="photo"></div>
    <div class="name">
      <h1>Ronald Pabilonia</h1>
      <h5>Frontend Developer, Philippines</h5>
      <div *ngIf="!downloading" class="links">
        <a href="tel:+639159463072"><i class="bi bi-telephone-fill"></i></a>
        <a href="mailto:ronald.pabilonia@gmail.com"><i class="bi bi-envelope-fill"></i></a>
        <a href="https://www.linkedin.com/in/ronaldpabilonia/" target="_blank"><i class="bi bi-linkedin"></i></a>
        <a href="https://stackoverflow.com/users/2760400/rnldpbln/" target="_blank"><i class="bi bi-stack-overflow"></i></a>
        <a href="https://efset.org/cert/qZzBvP/" target="_blank"><i class="bi bi-book-fill"></i></a>
      </div>
      <div *ngIf="downloading" class="links">
        <div>(+63) 915 946 3072</div>
        <div>ronald.pabilonia@gmail.com</div>
        <div>https://www.linkedin.com/in/ronaldpabilonia/</div>
        <div>https://stackoverflow.com/users/2760400/rnldpbln/</div>
        <div>https://efset.org/cert/qZzBvP/</div>
      </div>
    </div>
  </div>
  <div class="tech">
    <p>
      Hey, what's up! The name's Ronald. I'm a 29 year old Frontend Developer currently living his best life in Laguna Philippines.
      I've been dabbling with Web Development for almost 9 years now. Here are my skills:
    </p>
  </div>
  <div class="tech-icons">
    <div class="row">
      <div class="col">
        <div class="card html">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/html5/html5-original.svg" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">HTML5</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card css">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/css3/css3-original.svg" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">CSS3</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card js">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/javascript/javascript-original.svg" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">JavaScript</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card angularjs">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-original.svg" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">AngularJS</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card ts">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/typescript/typescript-original.svg" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">TypeScript</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card node">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/nodejs/nodejs-plain.svg" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">Node.js</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card mongo">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/mongodb/mongodb-original.svg" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">MongoDB</h5>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card angularts">
          <img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/angularjs/angularjs-plain.svg" class="card-img-top"/>
          <div class="card-body">
            <h5 class="card-title">Angular</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="projects">
    <p>
      Here are the projects I'm working on and have worked on:
    </p>
  </div>
  <div class="project-items">
    <div class="card item bt">
      <div class="row">
        <div class="col col-lg-3 col-md-3">
          <div class="project-icon">
            <h1>BT</h1>
          </div>
        </div>
        <div class="col col-lg-9 col-md-9">
          <div class="project-desc">
            <a href="https://brokertools.firstmac.com.au" target="_blank"><h3>Firstmac Broker Tools*</h3></a>
            <h6>An internal tool that allows brokers to view and update loans, quotes and debt servicings. Plus some other features like eligibility calculators etc.</h6>
            <span>Fullstack / Contributor</span>
            <div><small>*Currently working on</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card item ybr">
      <div class="row">
        <div class="col col-lg-3 col-md-3">
          <div class="project-icon">
            <h1>YB</h1>
          </div>
        </div>
        <div class="col col-lg-9 col-md-9">
          <div class="project-desc">
            <a href="https://platform.yougov.com/brand-rankings" target="_blank"><h3>YouGov Brand Rankings</h3></a>
            <h6>A SaaS ranking website that lists the top brands that can assist users in creating data for their surveys for free. A premium option is also available.</h6>
            <span>Frontend / Lead</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card item yc">
      <div class="row">
        <div class="col col-lg-3 col-md-3">
          <div class="project-icon">
            <h1>YC</h1>
          </div>
        </div>
        <div class="col col-lg-9 col-md-9">
          <div class="project-desc">
            <a href="https://collaborate.yougov.com" target="_blank"><h3>YouGov Collaborate*</h3></a>
            <h6>
              YouGov's survey creation client for external users.
              Custom questions and options are available for free and premium is required for exceeding a number of questions,
              options and other items. Similar to Google Forms.
            </h6>
            <span>Fullstack / Contributor</span>
            <div><small>*Decommissioned</small></div>
          </div>
        </div>
      </div>
    </div>
    <div class="card item yci">
      <div class="row">
        <div class="col col-lg-3 col-md-3">
          <div class="project-icon">
            <h1>CI</h1>
          </div>
        </div>
        <div class="col col-lg-9 col-md-9">
          <div class="project-desc">
            <a href="https://ci.yougov.net" target="_blank"><h3>YouGov Collaborative Insights</h3></a>
            <h6>
              YouGov's initial survey creation client for internal staff.
              A precursor to Collaborate,
              a more advanced and complex system with much more features for survey building.
            </h6>
            <span>Frontend / Contributor</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card item fr">
      <div class="row">
        <div class="col col-lg-3 col-md-3">
          <div class="project-icon">
            <h1>FR</h1>
          </div>
        </div>
        <div class="col col-lg-9 col-md-9">
          <div class="project-desc">
            <a href="https://www.freedom.tm/" target="_blank"><h3>Freedom!</h3></a>
            <h6>
              Freedom! is a multi-channel network for YouTube. They provide various tools,
              features and stats for YouTube channels to improve their growth on the platform,
            </h6>
            <span>Frontend / Contributor</span>
          </div>
        </div>
      </div>
    </div>
    <div class="card item hb">
      <div class="row">
        <div class="col col-lg-3 col-md-3">
          <div class="project-icon">
            <h1>HB</h1>
          </div>
        </div>
        <div class="col col-lg-9 col-md-9">
          <div class="project-desc">
            <a href="https://www.heartbeat.tm/" target="_blank"><h3>Heartbeat*</h3></a>
            <h6>
              A Google Chrome extension that allows users to view stats for the videos they are watching,
              and also monitor your channel's performance. Also allows users to customize Youtube's visuals.
            </h6>
            <span>Frontend / Contributor</span>
            <div><small>*Decommissioned</small></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="jobs">
    <p>
      These places are where I've spent the majority of my adult life!
    </p>
  </div>
  <div class="job-items">
    <div class="row">
      <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="item card">
          <div class="img"><img src="../assets/firstmac.png" /></div>
          <div class="card-body">
            <h4 class="card-title">Firstmac</h4>
            <div>Brisbane, New South Wales, Australia</div>
            <div><small>Fullstack Developer</small></div>
            <div><small>2021 - present</small></div>
          </div>
        </div>
      </div>
      <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="item card">
          <div class="img"><img src="../assets/yougov.png" class="yg" /></div>
          <div class="card-body">
            <h4 class="card-title">YouGov</h4>
            <div>Warsaw, Poland / Sheung Wan, Hong Kong</div>
            <div><small>Senior Frontend Developer</small></div>
            <div><small>2015 - 2021</small></div>
          </div>
        </div>
      </div>
      <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="item card">
          <div class="img"><img src="../assets/freedom.jpg" /></div>
          <div class="card-body">
            <h4 class="card-title">Freedom!</h4>
            <div>Eastwood City, Quezon City, Philippines</div>
            <div><small>Web Developer</small></div>
            <div><small>2015 - 2013</small></div>
          </div>
        </div>
      </div>
      <div class="col col-lg-3 col-md-6 col-sm-12">
        <div class="item card">
          <div class="img uni"><img src="../assets/pup.png"/></div>
          <div class="card-body">
            <h4 class="card-title">Polytechnic University of the Philippines</h4>
            <div>Sta. Mesa, Manila, Philippines</div>
            <div><small>Bachelor of Science in Information Technology</small></div>
            <div><small>2009 - 2013</small></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="!downloading" class="download">
    <h3>If you need this in this page in printable form, you can download it below.</h3>
    <button class="btn btn-primary btn-block btn-lg" (click)="download()">Download PDF</button>
  </div>
</section>
<footer *ngIf="!downloading">
  <div class="name">
    Ronald Pabilonia © 2022
  </div>
  <div class="links">
    <a href="tel:+639159463072"><i class="bi bi-telephone-fill"></i></a>
    <a href="mailto:ronald.pabilonia@gmail.com"><i class="bi bi-envelope-fill"></i></a>
    <a href="https://www.linkedin.com/in/ronaldpabilonia/" target="_blank"><i class="bi bi-linkedin"></i></a>
    <a href="https://stackoverflow.com/users/2760400/rnldpbln/" target="_blank"><i class="bi bi-stack-overflow"></i></a>
    <a href="https://efset.org/cert/qZzBvP/" target="_blank"><i class="bi bi-book-fill"></i></a>
  </div>
</footer>
